/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*Variables*/
* {
  --panel-background: #3C3F41;
  --panel-foreground: #ADADAD;
  --button-hover-background: #4B4F51;
  --editor-background: #2B2B2B;
  --editor-foreground: #A9B7C6;
  --editor-sidebar-background: #313335;
  --line-number: #606366;
  --current-line: #A4A3A3;

  --selected-tool: #343638;
  --border: #555555;

  --selection-background: #7fb0fb;

  --setting-text: #bbbbbb;

  --single-line-comment:#808080;
  --multi-line-comment:#619647;

  --number:#6897BB;
  --string:#A5C25C;
  --keyword:#CB772F;
  --special-method:#BED6FF;
  --local-var:#7E7E7E;
  --local-var-dec:#A9B7C6;
  --field:#9876AA;
  --deprecated:#D25252;
  --enum:#7FB347;
}


html {
  color: var(--editor-foreground);
  background-color: var(--editor-background);




  font-size: 1em;
  line-height: 1.4;


}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

.stretch {

  object-fit: fill;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: var(--selection-background);
  text-shadow: none;
}

::selection {
  background: var(--selection-background);
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--border);
  margin: 1em 0;
  padding: 0;
}

a {
  color: var(--keyword)!important;
  background-color: transparent !important;


}

a:hover {
  color: var(--editor-foreground) !important;
  background-color: var(--button-hover-background) !important;
}

/*
 Page Layout
 */

header {
  /*background: var(--panel-background);*/
  border-color: var(--border);
  display: flex;
  flex-flow: column wrap;
}

header h1 {
  text-align: center;
}

header * {
  flex: 1 1 0%;
}

header img {
  flex: 1 0 150px;
  margin-right: 20px;
}

header nav {
  flex: 1 1 100%;
}


nav,
nav ul,
nav li {
  margin: 0;
  padding: 0;
  border: none;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  list-style-type: none;
  margin: 1.3em 0;
  flex: 1 1 100%;
}

nav a {
  display: inline-block;
  width: 100%;
  border: 1px solid var(--border);
  margin: 0;
  text-decoration: none;
  text-align: center;
}

nav a:hover,
nav a:focus {
  background-color: var(--button-hover-background);
}

section {
  /*background: var(--panel-background);*/
  border-color: var(--border);
}

article {
  /*background: var(--panel-background);*/
  border-color: var(--border);
}

aside {
  /*background: var(--panel-background);*/
  border-color: var(--border);
}

footer {
  /*background: var(--panel-background);*/
  border-color: var(--border);
  display: flex;
  flex-flow: row wrap;
}

footer * {
  flex: 1 1 0%;
  justify-content: space-between;
}

footer p {
  text-align: right;
}
/* Smart Phones und Tablets mit mittlerer Auflösung */

@media all and (min-width: 35em) {
  header img {
    margin-right: 50px;
  }
  nav ul {
    flex-direction: row;
  }
  nav li {
    margin: 0 10px;
    flex: 1 1 0%;
  }
  article {
    order: 2;
  }
  #news {
    order: 3;
  }
  aside {
    /* durch auto werden die beiden asides in eine Zeile gesetzt */

    flex: 1 1 auto;
    order: 4;
  }
  footer {
    order: 5;
  }
}
/* Large screens */

@media all and (min-width: 50em) {
  article {
    /* Der Article wird 2.5x so breit wie die beiden asides! */

    order: 3;
    flex: 5 1 0%;
  }
  aside {
    flex: 2 1 0%;
  }
  #news {
    order: 2;
    align-self: center;
    height: 120px;
  }
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }

  kbd {
    background: #f9f9f9 linear-gradient(to bottom, #eee, #f9f9f9, #eee) repeat scroll 0 0 !important;
    border: 1px solid #aaa !important;
    border-radius: 2px !important;
    box-shadow: 1px 2px 2px #ddd !important;
    font-family: inherit !important;
    font-size: 0.9em !important;
    padding: 0 0.5em !important;
  }
}


kbd {
  background: var(--button-hover-background) repeat scroll 0 0;
  border: 1px solid var(--border);
  border-radius: 2px;
  font-family: inherit;
  font-size: 0.9em;
  padding: 0 0.5em;
  color: var(--panel-foreground);
}



